<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page - Gaming Team</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <header class="header">
            <nav>
                <img src="/images/logo.jpg" class="logo" />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games/catalog">All Games Code</a></li>
                    {{#if isAuthenticated}}
                        <li><a href="/games/search">Search</a></li>
                        <li><a href="/games/create">Create Game Offer</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>
            <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#each errorMessages}}
            <div>
                <div class="errorContainer">
                    <p>{{this}}</p>
                </div>
            </div> 
        {{/each}}
        {{{body}}}

        <footer>
            <p>Gaming Store</p>
        </footer>
    </body>
</html>